.max-h-40rem {
    max-height: 40rem;
}

.min-w-20 {
    min-width: 20%;
}

.min-w-70 {
    min-width: 70%;
}

nav>div {
    gap: .8rem;
}

.tabs-group>div {
    width: 100%;
}

.tabs-group>div>button {
    border-radius: 1rem;
}

.h-50vh {
    height: 50vh;
}

.mr-0-force {
    margin-right: 0 !important;
}

div[data-testid="flowbite-tooltip-target"]>button {
    justify-content: center;
}

div[data-testid="flowbite-tooltip-target"]>button>span {
    padding: .5rem 2.8rem;
}

div[data-testid="flowbite-tooltip"]>div>ul>div[data-testid="flowbite-tooltip-target"] {
    padding: .5rem 1rem;
}

.search-form{
    margin: 0 !important;
    overflow: scroll;
    z-index: 1;
}