.navbar>ul {
    align-items: center;
}

.max-h-40rem {
    max-height: 40rem;
}

.min-w-25{
    min-width: 25%;
}

.tabs-group>div {
    width: 100%;
}

.tabs-group>div>button {
    border-radius: 1rem;
}

.h-50vh {
    height: 50vh;
}